:root {
  --sand-color: #fdf5e6;
  --yellow-color: #ffeb3b;
  --amber-color: #ffc107;
  --orange-color: #ff9800;
  --deep-orange-color: #ff5722;
  --brown-color: #795548;
  --dark-grey-color: #616161;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--dark-grey-color);
}

form {
  padding: 2em;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 0.5em;
  font-weight: bold;
}
span.required {
  color: var(--deep-orange-color);
}

input[type='text'] {
  padding: 0.5em;
  width: 60%;
  border: 0;
  border-bottom: 2px solid var(--amber-color);
}

input[type='text']:focus {
  border: 0;
  border-bottom: 2px solid var(--amber-color);
  background-color: var(--sand-color);
  outline: 0;
}

.btn-next {
  border: none;
  width: 5em;
  padding: 0.5em;
  background-color: var(--amber-color);
  color: var(--dark-grey-color);
  font-weight: bold;
  border-radius: 0.3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
